.navbar-nav li a span {
  font-size: 1.3rem !important;
  transition: all 0.2s;
}
.social-icons:hover {
  transform: scale(1.3) !important;
}

.navbar-nav li a {
  font-size: 1rem !important;
  transition: all 0.2s;
}

.navbar-nav li a:hover {
  color: #e65b18 !important;
  /* transform: scale(1.3) !important; */
}
.navbar-nav li a:hover .waituk-icon-facebook {
  color: #e65b18 !important;
}

.navbar-nav li a:hover .waituk-icon-instagram {
  color: #e65b18 !important;
}

.navbar-nav li a:hover .waituk-icon-twitter {
  color: #e65b18 !important;
}
